<%= form_for(@historico) do |f| %>
  <% if @historico.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@historico.errors.count, "error") %> No se permite grabar este hisórico:</h2>
      <ul>
      <% @historico.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ambito %><br />
    <%= f.text_field :ambito %>
  </div>
  <div class="field">
    <%= f.label :contenido %><br />
    <%= f.text_field :contenido %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
