<h1>Listing historicos</h1>

<table>
  <tr>
    <th>Ambito</th>
    <th>Contenido</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @historicos.each do |historico| %>
  <tr>
    <td><%= historico.ambito %></td>
    <td><%= historico.contenido %></td>
    <td><%= link_to 'Show', historico %></td>
    <td><%= link_to 'Edit', edit_historico_path(historico) %></td>
    <td><%= link_to 'Destroy', historico, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Historico', new_historico_path %>
