<h1>Indice de historicos</h1>

<table class="general">
<tr>
  <th><%= sortable "ambito", "Ãmbito" %></th>
  <th><%= sortable "contenido", "Contenido" %></th>
</tr>
    <tr></tr>
    <tr></tr>
    <tr></tr>

<% @historicos.each do |historico| %>
  <tr>
    <td><%= historico.ambito %></td>
    <td><%= historico.contenido %></td>
    <td><%= link_to 'Ver', historico %></td>
    <td><%= link_to 'Edita', edit_historico_path(historico) %></td>
    <td><%= link_to 'Borra', historico, :confirm => 'Seguro?', :method => :delete %></td>
    <td><%= link_to 'Busca', :controller=>"items", :action=>"importa", :busqueda=>historico.contenido %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Historico', new_historico_path %>
