<table id="lista_documentos" summary="Relaci칩n de Documentos">
   <colgroup>
    	<col class="oce-first" />
    </colgroup>
  <thead>
    <tr class="titulo_documento">
      <th >
        Relaci칩n de Documentos
      </th>
    </tr>
    <tr>
      <th>
            <%= form_tag  :action=>:busqueda do %>
            <label> Buscar:</label>
            <%= text_field_tag :texto_busqueda, params[:texto_busqueda] %>

              <%= submit_tag 'Ya!' %>
            <% end %>
      </th>
    </tr>
    <tr>
      <th>
      <%= will_paginate @items %>
      </th>
    </tr>
  </thead>
</table>
<table id="lista_documentos" summary="Relaci칩n de Documentos">
   <colgroup>
    	<col class="oce-first" />
    </colgroup>
  <thead>
    <tr class="oce-first">
      <th>Tipo</th>
      <th>Titulo</th>
      <th>Path</th>
      <th>Tama침o</th>
    </tr>
  </thead

  <tfoot>
    <tr>
    <td></td>
    </tr>
  </tfoot>

  <!-- Table body -->
  <tbody>
  <% @items.each do |item| %>
    <tr class=<%= cycle( "odd", "even") %> >
      <td id="tipo"><%= item.tipo %></td>
      <td>
        <p id="titulo1">
          <%= link_to item.titulo, item %>
        </p>
        <p id="titulo2">
          <%= item.descripcion %>
        </p>
      </td>
      <td id="path">
        <% item.path.split( "/" ).each do |f| %>
          <li><%= f %></li>
        <% end %>
      </td>
      <td id="tamano" ><%= number_to_human_size(  item.tamano )  %></td>
    </tr>
  <% end %>
  </tbody>
</table>
