<table id="lista_documentos">
  <tr>
    <td>
    <b>Tipo:
    <%= @item.tipo %>
    </b>
    </td>
  </tr>
  <tr>
    <td>
    <b>Titulo:</b>
    <%= @item.titulo %>
    </td>
  </tr>
  <tr>
    <td>
    <b>Descripcion:</b>
    <%= @item.descripcion %>
    </td>
  </tr>
  <tr>
    <td>
    <b>Path:</b>
    <%= @item.path %>
    </td>
  </tr>
  <tr>
    <td>
    <b>Fichero:</b>
    <%= @item.fichero %>
    </td>
  </tr>

  <tr>
    <td align="center">
    <%= link_to 'Detalle', edit_item_path(@item) %> |
    <%= link_to 'Volder', items_path %>
    </td>
  </tr>
</table>